<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container d-flex justify-content-center">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="mt-3 w-100" x-data="app">
  <div class="row">
    <div class="col-md-12">
      <form>
        <input type="text" class="form-control" />
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <div class="todo">
            <template x-for="item in items">
              <div class="row justify-content-start">
                <div class="col-md-1"><i class="bi-trash3"></i></div>
                <div class="col-md-10" x-html="item.body"></div>
                <div class="col-md-1 offset-md-11 offet-sm-7"><i class="bi-pencil"></i><input type="checkbox" class="ms-3"/></div>
              </div> 
            </template>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
document.addEventListener('alpine:init', () => {
  Alpine.data('app', () => ({
    items: [],
    init () {
      this.getTodos()
    },
    getTodos () {
      fetch('/todos')
        .then(resp => resp.json())
        .then(resp => {
          this.items = resp
        })
        .catch(err => console.log(err))
    }
  }))
})
</script>
</body>
</html>
